/* Icon importado do bootstrap - seta do botão "Learn More! - Home Page  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Fontes usadas
font-family: 'Open Sans', sans-serif;
font-family: 'Space Mono', monospace;
*/
 
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/* Pages - body */
.body-section {
    margin: 0 auto;
    width: 90%;
}

/* HomePage ------------------------------------------------------------------------------------------------------------------------------- */

/* HomePage - Header */
.header-homepage {
    position: relative;
}

/* HomePage - Navbar */
.navbar-custom {
    background: rgb(112,112,112);
    background: linear-gradient(125deg, rgba(209,209,209,1) 8%, rgba(41,41,41,0.32679009103641454) 29%, rgba(22,22,22,0.5508797268907564) 41%, rgba(0,0,0,0.5508797268907564) 100%);
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    width: 100%;
}

.nav-link-custom {
    margin-right: 50px;
}

/* Navbar - collapse  */
@media only screen and (max-width: 991px) {
    .nav-link-custom {
        margin-right: 5px;
        text-align: right;
        text-decoration: solid;
    }
}

.header-image {
    width: 100%;
    object-fit: cover;
}

.container-presentation {
    position: absolute;
    bottom: 30%;
    left: 10%;
    color: white;
}

.title-presentation {
    font-size: 5vw;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    overflow: hidden;
    width: 0;
    white-space: nowrap; 
    animation: 
        typing 1.5s steps(25, end) forwards;
    animation-delay: 0.5s;
}

.title-presentation2 {
    font-size: 5vw;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    overflow: hidden;
    width: 0;
    white-space: nowrap; 
    animation: 
      typing2 1.5s steps(25, end) forwards;
    animation-delay: 2s;
}

@keyframes typing {
    from {width: 0%; border-right: .05em solid white;}
    to {width: 100%; border-right: 0em solid white; }
}

@keyframes typing2 {
    from {width: 0%; border-right: .05em solid white;}
    to {width: 75%; border-right: 0em solid white; }
}

.subtitle-presentation {
    font-size: 2vw;
}

.btn-presentation {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
}

.btn-presentation:hover {
    background-color: white; /* Green */
    color: black;
}

/* Common to all pages  *********************************************************************************************************************/

.qualifications-container, .pages-container {
    display: flex;
}

.qualifications-child {
    flex: 1;
}

.titles {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
}

.aboutMe-text, .aboutMe-text-btn, .qualifications-backgroud {
    background-color: #edf0f2;
}

a:link {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'details form1 form1'
        'button1 button2 button3';
}
.grid-item {
    padding: 20px;
}
.grid-item-details {
    grid-area: details;
}
.grid-item-form {
    grid-area: form1;
}
.grid-item-button1 {
    grid-area: button1;
}
.grid-item-button2 {
    grid-area: button2;
}
.grid-item-button3 {
    grid-area: button3;
}

.borderline {
    border-top: solid 2px #edf0f2;
    margin-top: 0;
}


/* HomePage - Body section ----------------------------------------------------------------------------------------- */

/* About me */
.aboutMe-details{
    margin: 0px 20px;
    width: 40vw;
}

.aboutMe-presentation-image {
    display: block;
    margin: 90px auto 40px auto;
    width: 50%;
}

.aboutMe-presentation-title {
    font-size: 3vw;
}

.aboutMe-presentation-text {
    font-size: 1.6vw;
    font-weight: 400;
}

.aboutMe-text-title {
    margin: 100px auto 60px;
}

.aboutMe-text-information {
    text-align: center;
    margin: 0 10%;
    font-size: 1.5vw;
}

.aboutMe-container-buttons {
    display: contents;
}

.aboutMe-btn {
    background-color: black;
    border: none;
    color: white;
    margin: 30px auto;
    padding: 10px 8vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe-presentation-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.aboutMe-icons {
    padding: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

/* My Skills*/
.skills-title {
    margin: 20px;
}

.container-skills {
    margin: 4% auto;
    justify-content: center;
    max-width: 93%;
}

.skills {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Space Mono', monospace;
    margin-right: 10px;
    margin-left: 10px;
    padding: 100px 0;
}

.slide-arrow{
    position: absolute;
    top: 52%;
    margin-top: -15px;
    margin-bottom: -15px;
}

.prev-arrow{
    left: -60px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-color: white;
}

.next-arrow{
    right: -60px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 25px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-color: white;
}

/* My qualifications */
.qualifications-child {
    margin: 80px;
}

.qualifications-title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 4vw;
    text-align: left;
}

.qualifications-backgroud {
    padding: 30px;
}

.qualifications-subtitle {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.qualifications-p {
    font-size: 1.4vw;
}

.qualifications-btn {
    display: flex;
    position: relative;
    border: none;
    background-color: #edf0f2;
    padding: 10px 20px;
    min-width: 200px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.qualifications-btn-icon {
    font-size: 20px;
}

.qualifications-btn-text {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    margin: 0;
    text-align: left;
}

#qualifications-hr {
    border-top: 4px solid black;
    opacity: 1;
}

/* PAGES  ***************************************************************************************************/

/* Navbar - Pages  */
.navbar-custom-pages {
    background: rgb(112,112,112);
    background: linear-gradient(125deg, rgba(209,209,209,1) 8%, rgba(41,41,41,1) 29%, rgba(22,22,22,1) 41%, rgba(0,0,0,1) 100%);
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Page titles */
.pages-pagetitle {
    font-weight: 400;
    font-size: 60px;
    margin: 50px 0;
}

/* About me Page */
.pageAboutMe-image {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

.pages-details {
    background-color: #edf0f2;
    margin: 0px 40px 0px 0px;
    padding: 20px 5vw 0px 30px;
}

.pages-details-title {
    font-family: 'Space Mono', monospace;
    line-height: 2;
}

.pageAboutMe-icons {
    margin: -10px -20px;
}

.pageAboutMe-title {
    font-size: 3vw;
    margin-top: 40px;
    font-weight: 700;
}

.pageAboutMe-subtitle {
    font-size: 1.6vw;
    font-weight: 400;
}

.pageaboutMe-text-information {
    text-align: center;
    margin: 0 3%;
    font-size: 1.3vw;
}

.pageAboutMe-btn-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.pageAboutMe-btn {
    font-size: 18px;
    padding: 10px 7vw;
}

/* My Qualifications Page  */
.pageMyQualifications-container {
    background-color: #edf0f2;
    margin: 30px auto;
    padding: 50px;
}

.pageMyQualifications-table {
    width: 100%;
}

.pageMyQualifications-table-title {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 0;
    align-items: center;
}

.pageMyQualifications-table-date {
    text-align: center;
    padding: 10px 3vw;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    min-width: 500px;
}

@media only screen and (max-width: 1000px) {
    .pageMyQualifications-table-date {
        min-width: 150px;
    }
}

.pageMyQualifications-table-text {
    font-size: 20px;
    padding-bottom: 25px;
}

.line {
    border-top: solid 4px black;
}

.pageQualifications-btn {
    font-size: 1.4vw;
}

/* Contact Me Page */
.pageContact-text {
    width: 100%;
    box-sizing: border-box;
    margin: 12px;
}

#legend-form {
    text-align: center;
    margin: 5px auto 20px;
    font-weight: bolder;
}

.contact-input, .pageContact-text-btn {
    display: flex;
    gap: 3%;
}

input[type=text], select, textarea, input[type=email] {
    font-family: 'Space Mono', monospace;
    color: black;
    width: 100%;
    padding: 12px;
    resize: vertical;
    border: none;
    border-bottom: 3px solid black;
  }

input[type=checkbox], input[type=radio] {
    accent-color: black;
  }

input[type=text]:focus, input[type=email]:focus, textarea:focus { 
    outline: 1px solid black;
    box-shadow: 0 0 10px black;
    border-color: black;
}

.contact-border {
    border-bottom: 3px solid black;
}

.contact-label {
    padding: 12px 12px 0 0;
    display: inline-block;
    font-family: 'Space Mono', monospace;
    color: black;
}

.contact-input-radio {
    padding: 12px;
    text-align: left;
    width: 100%;
}

input[type=radio], input[type=checkbox] {
    margin-right: 10px;
}

input[type=date] {
    border: none;
}

.page-contact {
    padding-bottom: 0;
}

.pageContact-details-btn {
    margin: 0 auto 10px auto;
    font-size: 1.3vw;
    padding: 10px 5vw;
}

.pageContact-text-btn {
    margin: 0 auto 10px auto;
    padding: 10px 5vw;
}

.pageContact-btn {
    font-size: 1.3vw;
    margin: 0 auto;
}

.contactMe-icons {
    justify-content: left;
}

/********************************************************** Mobile e Tablet ************************************************************/

@media only screen and (max-width: 895px) {
    /* Navbar */
    .navbar-custom {
        background: rgb(112,112,112);
        background: linear-gradient(125deg, rgba(209,209,209,1) 8%, rgba(41,41,41,0.6) 29%, rgba(22,22,22,0.5) 41%, rgba(19, 18, 18, 0.217) 100%);
    }

    .navbar-brand {
        height: 70px;
    }

    .nav-link-custom {
        text-align: center;
    }

    /* Titles Pages */
    .titles {
        margin: 20px auto;
        font-size: 35px;
    }

    /* Home Page */
    .header-image {
        height: 100vh;
    }

    .container-presentation {
        bottom: 25%;
    }

    .title-presentation, .title-presentation2 {
        font-size: 35px;
    }

    .subtitle-presentation, .btn-presentation {
        font-size: 15px;
    }

    .btn-presentation {
        padding: 10px 40px;
        margin-top: 5px;
    }

    /* Homepage e Pages */
    .aboutMe-container, .grid-container, .qualifications-container {
        display: block;
    }

    .aboutMe-details {
        width: 100vw;
        margin: 0;
    }

    .aboutMe-presentation-image {
        width: 60%;
    }

    .aboutMe-presentation-title, .pageAboutMe-title {
        font-size: 30px;
    }

    .aboutMe-presentation-text, .pageAboutMe-subtitle {
        font-size: 20px;
    }

    .aboutMe-text-title {
        padding-top: 30px;
    }

    .aboutMe-btn {
        padding: 10px 50px;
        font-size: 20px;
        margin: 10px auto;
    }

    .aboutMe-text-information, .pageaboutMe-text-information {
        font-size: 18px;
    }

    /* Homepage - skills */

    .skills {
        font-size: 20px;
        padding: 50px 0;
    }

    .container-skills {
        gap: 1em;
        margin: 6% auto;
        width: 300px;
    }

    /* Homepage - qualifications */
    .qualifications-container {
        margin: 0 20px;
    }

    .qualifications-child {
        margin: 0 auto;
    }

    .qualifications-title {
        text-align: center;
    }

    .qualifications-btn {
        margin: 15px auto;
    }

    .qualifications-p {
        text-align: left;
        font-size: 20px;
    }

    .qualifications-text {
        font-size: 20px;
        text-align: center;
        margin: 0 20px;
    }

    /* Page About me */
    .pageAboutMe-image {
        height: 400px;
    }

    .pages-container {
        display: block;
    }

    .pages-details {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .pageAboutMe-icons  {
        justify-content: unset;
    }

    .pageAboutMe-btn-container {
        display: block;
    }

    .pageAboutMe-btn {
        width: 250px;
        padding: 10px 50px;
    }

    /* Page qualifications */
    .pageMyQualifications-container {
        margin: 10px auto;
        padding: 5px 30px;
    }

    .pageMyQualifications-table-title {
        display: none;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: left;
    }
      
    table td::before {
        content: attr(data-label);
        margin: 10px auto;
        font-weight: 700;
        font-size: 22px;
    }

    .pageMyQualifications-table-date {
        font-size: 15px;
    }
      
    .pageMyQualifications-table-text {
        font-size: 18px;
    }
}

/*************************************************** Tablet ********************************************************  */

@media only screen and (min-width: 600px) and (max-width:895px){
    .aboutMe-container-buttons {
        background-color: #edf0f2;
        display: flex;
        justify-content: center;
    }

    .contact-container-buttons {
        background-color: white;
    }

    .container-presentation {
        bottom: 35%;
    }

    .title-presentation, .title-presentation2 {
        font-size: 55px;
    }

    .subtitle-presentation, .btn-presentation {
        font-size: 25px;
    }
}

/************************************ Mobile ***********************************************/

@media only screen and (max-width: 767px){
    /* footer */
    .footer-costum {
        display: block !important;
    }

    .footer-copyright {
        justify-content: center !important;
    }
    .container-footer {
        padding: 0;
    }

    .footer-brand {
        margin: 20px auto !important;
    }

    .icons-footer-block {
        justify-content: center !important;
    }

    .icons-footer {
        margin: 0 auto !important;
    }
}